* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: monospace;
    background: #1e1e1e;
    color: #eaeaea;
}

#container {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 200px;
    background: #272727;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #444;
}

#sidebar h1 {
    font-size: 1.2rem;
    color: #6cf;
}

#sidebar button {
    padding: 10px;
    background: #6cf;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
